<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         colors="true"
         bootstrap="vendor/autoload.php"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd">
    <testsuites>
        <testsuite name="BoltPHP Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <groups>
        <exclude>
            <group>fail</group>
        </exclude>
    </groups>

    <php>
        <!-- This is needed to perform test on very long string -->
        <ini name="memory_limit" value="-1" />
    </php>
</phpunit>